/*
    ===== Autthor Info =====

    Name : Md.Ariful Islam 
    Student Of Sonargoan University 
    Dept. of CSE
*/




/*Global CSS*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
</style>

h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}




header .navbar{
    padding: 30px 30px 0px 30px;
}
header .img-mod{
    width: 70%;
}
header .navbar .nav-item{
    padding: 0 50px;
}
header .navbar .nav-item .nav-link{
    color: #005D7F;
}
header .navbar .nav-item .nav-link:hover{
    color: coral;
    
}
header .navbar .nav-item.active .nav-link{
    color: #005D7F;
}


.line{
    height: 10px;
    width: 100%;
    margin-top: 30px;
    background: #B3B3B3;
}

.contact{
    background: #F04838;
    padding: 80px;
}
.contact .content h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 5px;
    padding-bottom: 30px;
}
.contact .content p{
    color: #fff;
    padding-right: 10%;
    text-align: justify;
    padding-top: 20px;
}
.contact .img-section{
    padding-top: 165px;
}

.form-section p{
    color: #fff;
    padding-top: 20px;
    margin: 0px;
    font-size: 20px;
}
.form-section .btnSubmit{
    color: #fff;
    margin-top: 20px;
    background: maroon;
    font-size: 20px;
}
.form-section .btnSubmit:hover{
    
    background: black;
    
}

footer{
    background-color: #F13E2C;
    padding: 30px 0px;
    text-align: center;
    color: #F6F6F6;
}
footer p{
    margin: 0px;
}


/*Responsive CSS Start*/


@media (min-width: 992px) and (max-width: 1199px){

    header .navbar .nav-item {
        padding: 0 36px;
    }

   

}

@media (min-width: 768px) and (max-width: 991px){

    .navbar-dark .navbar-toggler {
        background: gray;
    }
    .contact .img-section {
        padding-top: 143px;
    }
    

}

@media (min-width: 576px) and (max-width: 767px){
     
    .navbar-dark .navbar-toggler {
        background: gray;
    }
    header .navbar {
        padding: 30px 0px 0px 0px;
    }
    .contact .img-section {
        text-align: center;
    }
    .contact .img-section {
        padding-top: 50px;
    }
    


}

@media (min-width: 320px) and (max-width: 575px){

    .navbar-dark .navbar-toggler {
        background: gray;
    }
    header .navbar {
        padding: 30px 0px 0px 0px;
    }
    .contact .content p {
        padding-right: 0px;
        text-align: center;
    }
    .contact .img-section {
        padding-top: 50px;
    }
    


}


/*Responsive CSS End*/










